.sidebar {
  width: 230px;
  min-height: 100vh;
  border-right: 1px solid #ddd;
}

.sidebar-item {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-item:hover,
.sidebar-item.active {
  background-color: #007bff;
  color: #fff;
}

.quick-card {
  cursor: pointer;
  transition: all 0.2s ease;
}

.quick-card:hover {
  background: #f1f1f1;
  transform: scale(1.05);
}
